@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.input { 
  padding: .5rem .75rem; border: 1px solid #e5e7eb; border-radius: .375rem; 
}

.cell.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}